.banner-image {
  width: 100%;
  // width: auto;
  max-width: 400px;
  height: auto;
  max-height: 400px;
  border-radius: 5px;
}

.welcome {
  text-align: center;
  position: relative;
}
  
.welcome_message {
  display: inline-block;
  float: left;
  font-family: $main-font;
  font-size: 16px;
  line-height: 1.1em;
  text-align: right;
}

.welcome_photo {
  display: inline-block;
  float: right;
}

.welcome h1, h2 {
  color: $lt-grey;
  font-size: 36px;
  font-family: 'Gamja Flower';
}

.welcome h1 {
  font-family: $main-font;
  text-transform: uppercase;
  font-size: 48px;
}

.welcome h2 {
  font-family: 'Gamja Flower';
  font-size: 36px;
}

#welcome-h3 {
  margin-top: 120px
}
