.photo-view-div {
  width: 100%;
}

.photo-view {
  width: 100%;
  transition-duration: 3000ms;
  border-radius: 10px;
  border: $lt-grey solid 5px;
}

.photo-view:hover {
  border-radius: none;
  border: rgb(236, 236, 236) solid 5px;
}