.side-nav {
    background-color: rgba(224, 63, 198, 0.4);
    border-radius: none;
    border: transparent solid 5px;
    padding: 20px;
    width: 174px;
    position: absolute;
    top: 25%;
    left: -160px;
    transition: 350ms;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.side-nav:hover {
    left: 0;
    border: rgba(88, 19, 77, 0.4) solid 5px;

    .menu-icon {
        transform: rotate(0deg);
    }
}

.side-nav-container {
    position: relative;
}

.menu-icon {
    // outline: yellow 1px solid;
    position: absolute;
    top: 0;
    left: 160px;
    transform: rotate(90deg);
    // transform-origin: left top 0;
    
    h5 {
        font-family: $main-font;
        letter-spacing: auto;
        font-size: auto;
        line-height: auto;
        text-shadow: $shadow-color;
    }
}
