{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel=stylesheet href="{% sass_src 'styles/_core.scss' %}">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Gamja+Flower|Monoton|Montserrat|Slabo+27px" rel="stylesheet">

</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{% url "home" %}">Home</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url "library" %}">Library</a></li>
        <li><a href="{% url "album_gallery" %}">Explore</a></li>
        <li><a href="{% url "auth_logout" %}">Logout</a></li>
        {% else %}
        <li><a href="{% url "album_gallery" %}">Explore</a></li>
        <li><a href="{% url "registration_register" %}">Signup</a></li>
        <li><a href="{% url "auth_login" %}">Signin</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% if user.is_authenticated %}
    <div class="side-nav">
        <div class="side-nav-container">
          <div class="menu-icon"><h4>|||</h4></div>
          <h4 class="profile">My Profile</h4>
          <li><a href="{% url "profile" %}">{{user.username}}</a></li>
          <h4 class="create">Create</h4>
          <li><a href="{% url "album_add" %}">New Album</a></li>
          <li><a href="{% url "photo_add" %}">New Photo</a></li>
        </div>
      </div>
      {% endif %}

    {% block content %}
    <h3>No Content</h3>
    {% endblock content%}
  </main>
  {% comment %} <div class="push"></div> {% endcomment %}
  </div>
  <footer>
      <p class="tagline">Browse. Share. Click. Consume.</p>
  </footer>
</body>
</html>
