{% extends 'base.html' %}

{% block content %}
{% if user.username == profile.user.username %}
{% endif %}
<p>{{user.username}}'s album count: {{profile.user.albums.count}}</p>
<p>{{user.username}}'s public album count: {{public_albums.count}}</p>
<p>{{user.username}}'s shared album count: {{shared_albums.count}}</p>
<p>{{user.username}}'s private album count: {{private_albums.count}}</p>
<p>{{user.username}}'s photo count: {{profile.user.photos.count}}</p>
<p>{{user.username}}'s public photo count: {{public_photos.count}}</p>
<p>{{user.username}}'s shared photo count: {{shared_photos.count}}</p>
<p>{{user.username}}'s private photo count: {{private_photos.count}}</p>
<a href="{% url "library" username=user.username %}">{{user.username}}'s Library</a>
{% endblock %}
