{% extends 'base.html' %}

{% block content %}
<section class="user-profile">
  <p>{{profile.user.username}}'s Profile</p>
  <table class="tbl-user-profile">
    <tr>
      <td>Location:</td>
      {% if profile.user.location %}
      <td>{{profile.user.location}}</td>
      {% else %}
      <td>N/A</td>
      {% endif %}
    </tr>
    <tr>
      <td>Website:</td>
      {% if profile.user.website %}
      <td>{{profile.user.website}}</td>
      {% else %}
      <td>N/A</td>
      {% endif %}
    </tr>
    <tr>
      <td>Camera:</td>
      {% if profile.user.camera %}
      <td>{{profile.user.camera}}</td>
      {% else %}
      <td>N/A</td>
      {% endif %}
    </tr>
    <tr>
      <td>Bio:</td>
      {% if profile.user.bio %}
      <td>{{profile.user.bio}}</td>
      {% else %}
      <td>N/A</td>
      {% endif %}
    </tr>
    <tr>
      <td>Albums:</td>
      <td>{{public_albums.count}} Public <span>|</span> {{shared_albums.count}} Shared <span>|</span> {{private_albums.count}} Private</td>
    </tr>
    <tr>
      <td>Photos:</td>
      <td>{{public_photos.count}} Public <span>|</span> {{shared_photos.count}} Shared <span>|</span> {{private_photos.count}} Private</td>
    </tr>
  </table>
</section>
{% endblock %}
